*{
box-sizing: bording-box;
margin: 0;
}
h1{
    background-color: #120323;
    color:  #97bf04;
    text-align: center;
    padding: 25px;
}
img{
    max-width: 900px;
    max-height: 600px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 9px black;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
#buttons{
    display: flex;
    justify-content: center;

}
button{
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: red;
}

button:hover {
    background-color: #97bf04;
}